.inner-content {
    display: flex;
    /* background-color: #fff; */
}

.inner-content .detail {
    border: 0.1px solid #ccc;
    width: 75%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    padding-top: 0;
    margin-top: 20px;
}
.inner-content .detail-top {
    display: flex;
}
.inner-content .detail-top .detail-content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner-content .detail-content h3 {
    color: var(--color-header);
    font-size: 40px;
    margin-bottom: 20px;
}
.inner-content .detail-content .detail-author,
.inner-content .detail-content .detail-category {
    font-size: 20px;
    margin-bottom: 20px;
}
.inner-content .detail-content .detail-author a,
.inner-content .detail-content .detail-category a {
    font-size: 20px;
}
.inner-content .detail-content button {
    /* padding: 3% 15%; */
    color: #333;
    background: #edb50c;
    border: 1px solid #f0dea5;
    font-weight: 500;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.inner-content .detail-bottom {
    margin-top: 20px;
}

.inner-content .detail-bottom h3 {
    text-align: center;
    color: var(--color-header);
    margin-bottom: 10px;
}
.inner-content .list-type-novel {
    width: 25%;
}